body{

    background-color: darkgray;
}

*{

    box-sizing: border-box;
}

div:has(.tab){

    padding: 5px;
}

h1{

    text-shadow: gray 3px 3px;
}

.tab{

    position: relative;
    height: 50px;
    background-color: #282c34;
    color: aliceblue;
    text-align: center;
    box-shadow: gray 3px 3px;
    font-size: 2rem;
    cursor: pointer;
}

.tab > svg{

    position: absolute;
    right: 5px;
    top: calc(50% - 16px)
}


.characters{

    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border: black solid 2px;
    box-shadow: gray 3px 3px;
}

.characters > div {

    height: calc(100vw / 3 - 15px - 10px);
    width: calc(100% / 3 - 10px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
    border: black solid 2px;
    box-shadow: gray 3px 3px;
}

.bingoChip{

    height: 90%;
    width: 90%;
}
